#navBarTitle {
  font-size: 1.5em;
}

.card-header-title {
  font-size: 1.5em;
}

.reviews {
  display: block;
  float: right;
}

#snackDetail {
  display: none;
}

#signup {
  display: none;
}

#login {
  display: none;
}

#hero-body {
  padding: none;
}

.delete {
  display: block;
  position: absolute;
  right: 1.5em;
}
