#navBarTitle {
  font-size: 2.5em;
}

#bodyContainer {
  padding: 1 rem;
}

.nav {
  padding: 1.5rem;
}

.is-4 {
  /* width: 360px */
}

@media screen and (min-width: 450px) {
    .is-4 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* background-color: lavender; */
    }
}

.card {
  display: block;
  /* height: 28em; */
  /* width: 80vw; */
  height: 380px;
  width: 360px;
}

#allSnacksColumn {
  display: flex;
  flex-wrap: wrap;
}

#allSnacksTitle {
  padding: 1rem;
}

.card-header-title {
  font-size: 1.5em;
}

.panel-block-item {
  align-content: space-between;
  width: 100%;
}

.card-content {
  display: flex;
  justify-content: center;
}

.avgRating {
  display: block;
  float: left;
}

#avgStars {
  /* display: block; */
  /* float: right; */
  /* position: absolute; */
}

.checked {
  color: orange;
}

.reviews {
  /* display: block; */
  float: right;
}

#snackDetail {
  /* display: none; */
}

#signup {
  display: none;
}

#login {
  display: none;
}

#hero-body {
  padding: none;
}

.delete {
  display: block;
  position: absolute;
  right: 1.5em;
}

.product-header {
  padding: 1rem;
}

.addReviewP {
  display: flex;
  justify-content: center;
}

p, p a {
			color: #aaa;
			text-decoration: none;
		}
		p a:hover,
		p a:focus {
			text-decoration: underline;
		}
		p + p { color: #bbb; margin-top: 2em;}
		.detail {position: absolute; text-align: right; right: 5px; bottom: 5px; width: 50%;}

		a[href*="intent"] {
			display:inline-block;
			margin-top: 0.4em;
		}

		/*
		 * Rating styles
		 */
		.rating {
			width: 226px;
			/* margin: 0 auto 1em; */
      margin: 0.5em 0em 0em 1em;
			font-size: 45px;
			overflow:hidden;
		}
.rating input {
  float: right;
  opacity: 0;
  position: absolute;
}
		.rating a,
    .rating label {
			float:right;
			color: #aaa;
			text-decoration: none;
			-webkit-transition: color .4s;
			-moz-transition: color .4s;
			-o-transition: color .4s;
			transition: color .4s;
		}
.rating label:hover ~ label,
.rating input:focus ~ label,
.rating label:hover,
		.rating a:hover,
		.rating a:hover ~ a,
		.rating a:focus,
		.rating a:focus ~ a		{
			color: orange;
			cursor: pointer;
		}
		.rating2 {
			direction: rtl;
		}
		.rating2 a {
			float:none;
		}
