#navBarTitle {
  font-size: 2.5em;
}

#bodyContainer {
  padding: 1 rem;
}

.nav {
  padding: 1.5rem;
}

#allSnacksColumn {
  display: flex;
  flex-wrap: wrap;
}

#allSnacksTitle {
  padding: 1rem;
}

.card-header-title {
  font-size: 1.5em;
}

.panel-block-item {
  align-content: space-between;
  width: 100%;
}

.card-content {
  display: flex;
  justify-content: center;
}

.avgRating {
  display: block;
  float: left;
}

#avgStars {
  /* display: block; */
  /* float: right; */
  /* position: absolute; */
}

.checked {
  color: orange;
}

.reviews {
  /* display: block; */
  float: right;
}

#snackDetail {
  display: none;
}

#signup {
  display: none;
}

#login {
  display: none;
}

#hero-body {
  padding: none;
}

.delete {
  display: block;
  position: absolute;
  right: 1.5em;
}

.product-header {
  padding: 1rem;
}

.addReviewP {
  display: flex;
  justify-content: center;
}
